.countries {
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul li {
    display: inline-block;
    margin: 1em .3em .3em 0;
    padding: 0 1em;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 13px;
  }
}
